*.DS_Store
*.swp
.bash_sessions
.Xauthority
/var/swap/swapfile
/var/log
/var/cache
/var/tmp

/home/{{ username }}/.m2/repository
/home/{{ username }}/.mozilla
/home/{{ username }}/.cargo
/home/{{ username }}/.gradle
/home/{{ username }}/.groovy
/home/{{ username }}/.ivy2
/home/{{ username }}/.npm
/home/{{ username }}/mac-backup
/home/{{ username }}/go
